#main-container{
   margin-left: 470px;
   /* display: flex; */
   /* align-content: center; */
   /* justify-content: center; */

}
.postImage{
    width: 50%;
    height: 300px;
}
.post-header{
    display: flex;
    align-items: baseline;
    position: relative;
    
}
.more-options{
margin-left: 370px;
}
#date{
    margin-left: 320px;
    /* margin-bottom: 150px; */
}